<div class="">
    <header class="container d-flex flex-wrap justify-content-center py-2">
      <a href="/" class="d-flex align-items-center  mb-md-0 me-md-auto text-dark text-decoration-none">
        <span class="fs-4">ORC Online</span>
      </a>
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-map-marker"></i></a></li>
        <li class="nav-item"><a href="#" class="nav-link ">
            <div class="g">
              <h6>Annitt Black</h6>
              <p>6391 Eligin St. Celine, Delaware 10299</p>
            </div>
          </a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-bell"></i></a></li>
        <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-shopping-cart"></i></a></li>
        <li class="nav-item"><a href="#" class="nav-link"><img src="https://github.com/mdo.png" alt="mdo" width="32"
              height="32" class="rounded-circle"></a></li>
      </ul>
    </header>
    <nav class="py-2 bg-light">
      <div class="container d-flex flex-wrap">
        <ul class="nav me-auto">
          <li class="nav-item me-5 "><a routerLink="/home" class="nav-link link-dark px-2" aria-current="page">Home Page</a></li>
          <li class="nav-item me-5"><a routerLink="/inventory" class="nav-link link-dark px-2">Your Inventory</a></li>
          <li class="nav-item me-5"><a routerLink="/students" class="nav-link link-dark px-2">Students</a></li>
          <li class="nav-item me-5"><a routerLink="/shop" class="nav-link link-dark px-2">Shop</a></li>
          <li class="nav-item me-5"><a routerLink="/download-forms" class="nav-link link-dark px-2">Downloaded Forms</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <router-outlet></router-outlet>