<app-header-page></app-header-page>

<div class="container-fluid px-4 py-5">
    <div class="shop-details">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
            <div class="">
            <div class="shop-rightside-content">
                <p class="fs-18 f-500">Description</p>
                <div class="mb-3 row">
                    <label for="Subject" class="col-sm-4 col-form-label">Subject:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="All subjects">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="Subject" class="col-sm-4 col-form-label">Grade Level:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="All Grade level">
                    </div>
                </div>
                <div class="mb-4">
                    <input class="form-control form-control" type="text" placeholder="Description / Title:">
                </div>
                <div class="mb-4">
                    <input class="form-control form-control" type="text" placeholder="Catalog">
                </div>
                <div class="mb-4">
                    <input class="form-control form-control" type="text" placeholder="Author last name">
                </div>
                <div class="mb-4">
                    <input class="form-control form-control" type="text" placeholder="ISBN">
                </div>
                <div class="mb-4 shop-resourcetype row">
                   <p>Resource type :</p>
                   <div class="col-sm-7" >
                       <div class="form-check" *ngFor="let res of resource">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            {{res.nm}}
                        </label>
                      </div>
                   </div>
                </div>
            </div>
          </div>
            
            <div class="col-md-2 mb-4 pt-3" *ngFor="let data of cardData">
                <div class="card">
                    <img [src]="data.img" routerLink="/product-details" class="card-img-top" alt="img">
                    <div class="card-body">
                        <h5 class="f-500 fs-18">{{data.author}}<br>
                            <p class="f-400 fs-14">(Consumable)</p>
                        </h5>
                        <p class="card-text fs-16 f-400">{{data.para}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>