<app-header-page></app-header-page>
<div class="container py-5">
    <div class="border-top">
        <p class="pt-3 pb-2  fs-16 f-500  border-top"> <img
            src="assets/images/download.png" class="pe-3" />Alternate Media Production Request - <a href="../../../assets/files/Alternate Media Production Request.pdf"
            download rel="noopener noreferrer" target="_blank" class="link-clr text-decoration-underline"
            title="Alternate Media Production Request">.pdf</a></p>
            <p class="pt-3 pb-2  fs-16 f-500  border-top"> <img
                src="assets/images/download.png" class="pe-3" />Account Holder Registration - <a href="../../../assets/files/Alternate Media Production Request.pdf"
                download rel="noopener noreferrer" target="_blank" class="link-clr text-decoration-underline"
                title="Account Holder Registration"> .pdf - , </a> <a href="../../../assets/files/AccountHolderRegistrationForm.docx"
                download rel="noopener noreferrer" target="_blank" class="link-clr text-decoration-underline"
                title="Account Holder Registration"> .docx </a></p>
        <p class="pt-3 pb-2 blue-clr fs-16 f-500 text-decoration-underline border-top"> <img
                src="assets/images/download.png" class="pe-3" /> <a href="../../../assets/files/BrailleBook.doc"
                download rel="noopener noreferrer" target="_blank" class="link-clr"
                title="Braille Book Return Mailing Label">Braille Book Return Mailing Label</a></p>
        <p class="pt-3 pb-2 blue-clr fs-16 f-500 text-decoration-underline border-top"> <img
                src="assets/images/download.png" class="pe-3" /> <a href="../../../assets/files/Electronics (1).doc"
                download rel="noopener noreferrer" target="_blank" class="link-clr"
                title="Electronics Return Mailing Label">Electronics Return Mailing Label</a></p>
        <p class="pt-3 pb-2 blue-clr fs-16 f-500 text-decoration-underline border-top"> <img
                src="assets/images/download.png" class="pe-3" /> <a href="../../../assets/files/Kits.doc" download
                rel="noopener noreferrer" target="_blank" class="link-clr" title="Kits Return Mailing Label">Kits Return
                Mailing Label</a></p>
        <p class="pt-3 pb-2 blue-clr fs-16 f-500 text-decoration-underline border-top"> <img
                src="assets/images/download.png" class="pe-3" /> <a href="../../../assets/files/LargePrintBook.doc"
                download rel="noopener noreferrer" target="_blank" class="link-clr"
                title="Large Print Return Mailing Label">Large Print Return Mailing Label</a></p>
    </div>
</div>