@import './../../../variables.scss';
.phone {
    line-height: 1.1;
    position: relative;
    font-family: 'Poppins', sans-serif;
 }
.name {
  font-family: 'Poppins', sans-serif;
    font-size: 39px;
    display: block;
}
.right-login-infomation p {
    font-family: Times New Roman;
    font-size: 42px;
    font-weight: 700;
    line-height: 49px;
    text-align: center;
    max-width: 460px;
    color: $white-color;
}
.login-background-image{
    background-image: url('./../../../assets/images/loginbg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.greaterthan:after {
  content: '>';
  margin-left: 10px;
  text-decoration: none;
  background: #ffff;
  color: black;
  padding: 1px 6px 1px 6px;
  border-radius: 20px;
}
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}