<div class="">
  <header class="container d-flex flex-wrap justify-content-center py-2">
    <a href="/" class="d-flex align-items-center  mb-md-0 me-md-auto text-dark text-decoration-none">
      <span class="fs-4">ORC Online</span>
    </a>
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-map-marker"></i></a></li>
      <li class="nav-item"><a href="#" class="nav-link ">
          <div class="g">
            <h6>Annitt Black</h6>
            <p>6391 Eligin St. Celine, Delaware 10299</p>
          </div>
        </a></li>
      <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-bell"></i></a></li>
      <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-shopping-cart"></i></a></li>
      <li class="nav-item"><a href="#" class="nav-link"><img src="https://github.com/mdo.png" alt="mdo" width="32"
            height="32" class="rounded-circle"></a></li>
    </ul>
  </header>
  <nav class="py-2 bg-light">
    <div class="container d-flex flex-wrap">
      <ul class="nav me-auto">
        <li class="nav-item"><a href="#" class="nav-link link-dark px-2 active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-dark px-2">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-dark px-2">About</a></li>
      </ul>
    </div>
  </nav>
</div>

<!---products details-->
<section>
  <div class="container">
    <div class="home-product-details">
      <div class="home-product-header pt-4">
        <h5>Recently added books <span class="float-end"><a href="">see all</a></span></h5>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
        <div class="col mb-4 pt-4" *ngFor="let data of cardData">
          <div class="card shadow">
            <img [src]="data.img" class="card-img-top" alt="...">
            <div class="card-body">
              <h5>{{data.author}}</h5>
              <p class="card-text">{{data.para}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="home-product-details">
      <div class="home-product-header pt-4">
        <h5>Recently added books <span class="float-end"><a href="">see all</a></span></h5>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
        <div class="col mb-4 pt-4" *ngFor="let data of cardData">
          <div class="card">
            <img [src]="data.img" class="card-img-top" alt="...">
            <div class="card-body">
              <h5>{{data.author}}</h5>
              <p class="card-text">{{data.para}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>