
.inventory-table-details p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
tr.inventory-table-header th {
    background: #52A077;
   padding: 0.6rem 0rem 0.6rem 1rem;
    color: #ffff;
    font-family: Roboto;
    font-size: 16px;
    border: 1px solid #52A077;
    font-weight: 600;
}
.table> :not(:first-child) {
    border-top: 0;
}
tr.inventory-table-data td {
   padding: 0.6rem 0rem 0.6rem 1rem;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

.inventory-list ul li {
    list-style: none;
    display: inline;
    padding: 0rem 0rem 0rem 4rem;
}

@import './../../../variables.scss';
.header-action-phone {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    top: 1px;
 .phone {
    color: #333;
    font-size: 16px;
    font-weight: 400;
    margin-top: 3px;
    line-height: 1.4;
    position: relative;
    top: 1px;
    max-width: 347px;
 }
.name {
    font-family: 'Roboto';
    font-size: 12px;
    display: block;
    line-height: 1;
    color: $black-color;
}}
.red-clr{
    color: #D93333;
}

tr.fs-16.f-500.inventory-details-table th {
    padding: 2rem 0rem 2rem 0rem;
}
#center{
    position: relative;
    top: 4rem;
}